<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Patient</title>
</head>
<body>
    
    <form action="/api/v1/patients/register" method="POST">
        <div>
            <input type="text" name="name" placeholder="name">
        </div>
        <div>
            <input type="text" name="number" placeholder="phone number">
        </div>
        <div>
            <button>register</button>
        </div>
    </form>
</body>
</html>